* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  padding: 20px;
  background-color:rgb(255,248,248);
}

p {
  font-weight: bold;
}

header {
  background-color: rgb(129,193,231);
  color: rgb(255,248,248);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
}

button {
  background-color: rgb(196,203,255);
  border-color:rgb(255,248,248);
  border-style: solid;
  border-radius: 5px;
  color:  rgb(255,248,248);
  padding: 10px;
}

.question_box {
  background-color: rgb(196,223,225);
  color: rgb(255,248,248);
  margin-top: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  position: relative;
}

.option {
 margin: 0px 5px 0px 5px;
}

.marked {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
}

.answer-button {
  width: 70%;
  margin: 20px 0px 20px 0px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(129,193,231);
  margin-top: 10px;
  height: 50px;
  border-radius: 10px;
  position: sticky;
  bottom: 0px;
  width: 100%;
}

.home{
  background-color: rgb(196,203,255);
}

.marked_footer {
 padding: 3px;
 width: 50px;
}