* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

header {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
}

.profile_picture {
  background-color: burlywood;
  border-radius: 50%;
}

figure {
  position: relative;
}
figcaption {
  position: absolute;
  top: 38px;
  right: 40px;
}

p {
  padding: none;
  margin: none;
  
}

article {
  display: flex;
  flex-flow: column;
  background-color: lightblue;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  margin-top: 10px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  position: sticky;
}

.marked_footer {
  width: 50px;
}

.profile {
  background-color: red;
}

