* {
  box-sizing: border-box;
  font-family: monospace;
}

body {
  padding: 20px;
  background-color:rgb(255,248,248);
}

header {
  background-color: rgb(129,193,231);
  color: rgb(255,248,248);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
}

.profile_picture {
  background-color: rgb(128, 236, 217);
  border-radius: 50%;
}

figure {
  position: relative;
}
figcaption {
  position: absolute;
  top: 38px;
  right: 40px;
}

p {
  padding: none;
  margin: none;
  
}

article {
  display: flex;
  flex-flow: column;
  background-color: lightblue;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: rgb(129,193,231);
  margin-top: 10px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  position: fixed;
  bottom: 0px;
  width: 100%;
  right: 5px;
}

.marked_footer {
  width: 50px;
  padding: 3px;
}

.profile {
  background-color: rgb(196,203,255);
}

