* {
  box-sizing: border-box;
}

body {
  padding: 20px;
}

header {
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-radius: 10px;
}

.question_box {
  border: solid 3px;
  margin-top: 10px;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border-radius: 10px;
  position: relative;
}

.marked {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
}

.answer-button {
  width: 70%;
  margin: 20px 0px 20px 0px;
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: blue;
  margin-top: 10px;
  height: 50px;
  border-radius: 10px;
  position: relative;
  position: sticky;
}

.home{
  background-color: red;
}

.marked_footer {
 padding: 1px;
 width: 50px;
 background-color: red;
}